@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);



body {
    margin: 0 0;
    width: 100vw;

}

.header-part {
    background-color: #636c79;
    color: #fff;
    width: 100vw;
    font-family: 'Poppins';
    height: 600px;
}

.logo {
    margin-left: 80px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    width: 1600px;
    padding-top: 30px;

}

.nav-item {
    margin-right: 40px;
}

.nav-btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    width: 100px;
    height: 25px;

}

.ppl-img {
    margin-top: 60px;
}

.nav-text {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

.first-heading {
    font-size: 50px;
}

.form-email {
    width: 400px;
    height: 50px;
}

.btn-talk {
    position: absolute;
    top: 47.3%;
    right: 18%;
    width: 150px;
    height: 40px;
    background-color: #8bb7a2;
    border: none;
    color: #fff;
}

.list,
.list-2 {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: 'Poppins';

}

.list-items {
    width: 300px;
    text-align: center;
}

.img-2 {
    text-align: center;
    margin-left: 500px;

}

.connect {
    text-align: center;
    font-size: 40px;
    font-family: 'Poppins';
}


.list {
    font-weight: 800;
    font-family: 'Poppins';
    font-size: 30px;
}

.second-heading {
    font-size: 40px;
}

.second-text {
    margin-left: 60%;
    width: 600px;
}

.middle-part {
    font-family: 'Poppins';
    margin-left: 50px;
    margin-top: 80px;
}

.photo-text {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
    margin-top: 80px;
    width: 1500px;
}

.class-services {
    margin-top: 80px;
}

.btn-2 {
    width: 150px;
    height: 40px;
    background-color: #8bb7a2;
    border: none;
    color: #fff;
}

.api {
    display: flex;
    justify-content: space-around;
    font-family: 'Poppins';
}

.team-section {
    display: grid;
    grid-template-columns: auto auto auto;
}

.leader-description {
    width: 400px;
}

.see-btn {
    margin-left: 45%;
    width: 190px;
    height: 40px;
    border: none;
    background-color: #8bb7a2;
    color: #fff;
    margin-bottom: 50px;
}





.top {
    display: flex;
    flex: 1;
    justify-content: space-between;
    position: relative;
    left: 6%;
    right: 6%;
    margin-left: 20px;
    margin-right: 20%;
    margin-bottom: 30px;

}

.link-boxes {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    color: #fff;
    margin-top: 20px;

}

.bottom_text {
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 6%;
    right: 6%;
    margin-left: 20px;
    margin-right: 10%;
    margin-bottom: 20px;


}

.box {
    list-style-type: none;
    text-decoration: none;
    line-height: 40px;


}

.link_name {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
}

.logo_name {
    font-size: 30px;
}

.fab {


    background-color: rgb(68, 64, 64);
    width: 30px;
    height: 30px;
    border-radius: 50%;

    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;

}

.media-icons {
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin-left: 100px;
    text-align: center;
    margin-top: 4px;

}

.content {
    background-color: rgb(19, 19, 20);
    color: #fff;
    font-family: 'Poppins';

}

a {
    color: #fff;
    list-style-type: none;
    text-decoration: none;
}

span {
    color: #fff;
}

.footer {
    background-color: rgb(19, 19, 20);
    color: #fff;
    ;
    height: 300px;
    padding-top: 50px;
}

@media screen and (max-width: 768px) {

    .nav-item{
        display: none;
    }

    .logo{
        width:100px;
    }

    .nav-btn{
        position: absolute;
        left:70%;
    }

    .nav-text {
        display: flex;
      flex-direction: column;
       
       
    }

    
.btn-talk {
    position: absolute;
    top: 102%;
    right: 10%;
    width: 150px;
    height: 40px;
    background-color: #8bb7a2;
    border: none;
    color: #fff;
}

    

.header-part {
    background-color: #636c79;
    color: #fff;
    width: 100vw;
    font-family: 'Poppins';
    height: 1000px;
    padding-left: 50px;
}

.header-text2{
    padding-right: 40px;
}

.header-text{
    width: 400px;
}

.img-2 {
   width:400px;
margin-left: 40px;
}

.photo-text {
    display: flex;
    flex-direction: column;
    gap:30px;
    margin-top: 80px;
    width: 1500px;
}

.team-section {
    display: grid;
    grid-template-columns: auto;
    padding-left: 30px;
}


.api {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-left: 20px
    ;
    font-family: 'Poppins';


    }

    .see-btn {
        margin-left: 35%;
    }

    
.link-boxes {
    display: flex;
    flex-wrap: wrap;
    
}

    

}
    
